<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f9f9f9;
            margin: 0;
            padding: 0;
        }
        .container {
            max-width: 600px;
            margin: 50px auto;
            background-color: #ffffff;
            border-radius: 8px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            overflow: hidden;
        }
        .header {
            background-color: #3164F4;
            color: white;
            text-align: center;
            padding: 20px;
            font-size: 24px;
        }
        .content {
            padding: 20px;
            text-align: center;
        }
        .content p {
            font-size: 16px;
            color: #333333;
            margin: 20px 0;
        }
        .button {
            display: inline-block;
            padding: 10px 20px;
            margin: 20px auto;
            background-color: #3164F4;
            color: white;
            text-decoration: none;
            border-radius: 4px;
            font-size: 16px;
        }
        .footer {
            text-align: center;
            font-size: 12px;
            color: #888888;
            padding: 10px;
            background-color: #f1f1f1;
        }
        .footer a {
            color: #4CAF50;
            text-decoration: none;
        }

        .logo {
            max-width: 150px;
            margin: 0 auto 20px;
            display: block;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            <strong>Team Dental Education</strong>
        </div>
        <div class="content">
            <img src="https://img.mailinblue.com/8675462/images/content_library/original/6797471dab8d84b9665fd82c.jpeg" alt="Logo" class="logo">
            <p><strong>Complete Your Password Reset</strong></p>
            <p>Please click the button below to reset the password 
                <p>associated with your account.</p>
            <a href="<%= link_code %>" class="button">Reset</a>
        </div>
        <div class="footer">
            <p>This email was sent to <%= to %></p>
            <p>Thank you</p>
        </div>
    </div>
</body>
</html>
